@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F6F3;
  color: #171923;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}
